{% extends "PickleBlogBundle::layout.html.twig" %}

{% block title %}

    The Pickle Blog

{% endblock title %}

{% block body %}

    {% for blog in blogs %}
    <article>

        <header>
            <h2 property="title" contenteditable="true">{{ blog.title }}</h2>
        </header>

        {% if blog.excerpt %}
        <aside property="aside" contenteditable="true">
            {{ blog.excerpt|raw }}
        </aside>
        {% endif %}

        <div class="content" property="content" contenteditable="true">
            {{ blog.content(500)|raw }}
        </div>

        <footer>
            Posted <time datetime="{{ blog.createdAt|date('c') }}">{{ blog.createdAt|date('F j, Y') }}</time>
            {% if blog.author %}
                by <span property="author" contenteditable="true">{{ blog.author }}</span>
            {% endif %}
        </footer>

    </article>

    {% else %}

        <h1>Sorry…</h1>

        <p>Nothing to show yet!</p>

    {% endfor %}

{% endblock body %}